{% extends "parents/base_proj.html" %}
{% block title %}
Detail
{% endblock title %}
{% block body %}
            <div>
            title {{object.title}} 
            <br>
            description: {{object.description}}

        </div>
        <div>
            developer:
            {% for dev in object.developers.all   %}
                <a href="{{ dev.get_absolute_url }}">
                {{dev.first_name}} {{dev.last_name}}
                </a>
            {% endfor %}
        </div>

{% endblock body %}