{% extends "parents/base_proj.html" %}
{% block title %}
List
{% endblock title %}
{% block body %}
{% for proj in object_list %}
    
    <div>
        <a href="{{ proj.get_absolute_url }}">
        <div>
            title: {{proj.title}}
            <br>
            description:{{proj.description}}
        </div>
        </a>
        <div>
            developers:
            {% for dev in proj.developers.all %}
            <a href="{{ dev.get_absolute_url }}">
                {{dev.first_name}} {{dev.last_name}}
            </a>
            {% endfor %}
        </div>

    </div>
    <br>
    <br>
{% endfor %}
{% endblock body %}